# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Camera Server (nie kopiuj do kontenera backend)
camera_server/

# Tests
tests/
pytest.ini
.pytest_cache/

# Docs
README.md
*.md

# Misc
frame.jpg
*.log
